## .NET / Visual Studio
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
*.csproj.user

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]uild/
bld/

## NuGet
**/packages/*
*.nupkg
**/[Pp]ackages/
project.lock.json
project.fragment.lock.json
artifacts/

## Rider / JetBrains
.idea/
*.sln.iml

## OS
.DS_Store
Thumbs.db
desktop.ini

## Publish output
publish/
